definitions/stock_news_morning_report/Stock News Morning Report Agent.json
{
  "name": "Stock News Morning Report Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "57207557-640d-4ee2-9d36-0c745a0d7757",
      "name": "Every Weekday 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1cXcCrpeWsxoYOPcHBH9slH6V6AaWzc7u",
          "mode": "list",
          "cachedResultName": "list.xlsx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cXcCrpeWsxoYOPcHBH9slH6V6AaWzc7u/edit?usp=drivesdk&ouid=104470344370675463389&rtpof=true&sd=true"
        },
        "options": {}
      },
      "id": "825387e3-510d-41aa-b62f-a69c899b8e47",
      "name": "Download Stock List (Google Drive)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kidjrUfSszRexdSw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "3e7537d0-3232-460f-af3f-3ed880feca2e",
      "name": "Extract Rows from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const row = $input.item.json;\n\nconst stockName = row['StockName'] ? String(row['StockName']).trim() : '';\n\nif (!stockName) {\n  return null;\n}\n\nreturn {\n  json: {\n    ticker: stockName,\n    company: stockName\n  }\n};"
      },
      "id": "33113c13-d226-40ed-a662-5baf7960a8f1",
      "name": "Normalize Stock Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"What is the latest news in the last 48 hours about this Indian stock: {{ $json.company }}? Give me: 1) Key headlines, 2) Any price-moving events, 3) Overall sentiment (positive/negative/neutral). Be concise, under 150 words.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "1a969ebc-f3e2-4a66-8e3d-94cb149cb915",
      "name": "Ask Gemini for News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const resp = $input.item.json;\nconst prev = $('Normalize Stock Rows').item.json;\n\nlet text = 'No summary returned.';\ntry {\n  text = resp.candidates[0].content.parts[0].text;\n} catch (e) {\n  text = 'Could not retrieve news for this stock (API error or no data).';\n}\n\nreturn {\n  json: {\n    ticker: prev.ticker,\n    company: prev.company,\n    summary: text.trim()\n  }\n};"
      },
      "id": "e6d67dd2-f7bc-4b27-8423-9193c81b6f20",
      "name": "Extract News Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\nconst today = new Date().toLocaleDateString('en-IN', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\n\nlet rows = items.map(it => `\n  <tr>\n    <td style=\"padding:10px 12px;border-bottom:1px solid #e5e5e5;font-weight:600;vertical-align:top;white-space:nowrap;\">${it.ticker}<br><span style=\"font-weight:400;color:#666;font-size:12px;\">${it.company}</span></td>\n    <td style=\"padding:10px 12px;border-bottom:1px solid #e5e5e5;\">${it.summary.replace(/\\n/g, '<br>')}</td>\n  </tr>`).join('');\n\nconst html = `\n<html>\n<body style=\"font-family:Arial,Helvetica,sans-serif;color:#222;\">\n  <h2 style=\"margin-bottom:4px;\">📈 Morning Stock News Report</h2>\n  <p style=\"color:#666;margin-top:0;\">${today}</p>\n  <table style=\"border-collapse:collapse;width:100%;max-width:700px;\">\n    <thead>\n      <tr style=\"background:#f5f5f5;text-align:left;\">\n        <th style=\"padding:10px 12px;border-bottom:2px solid #ccc;\">Stock</th>\n        <th style=\"padding:10px 12px;border-bottom:2px solid #ccc;\">News Summary</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${rows}\n    </tbody>\n  </table>\n  <p style=\"color:#999;font-size:12px;margin-top:20px;\">Generated automatically via n8n + Gemini. Not investment advice.</p>\n</body>\n</html>`;\n\nreturn [{ json: { html, today } }];"
      },
      "id": "ecd667cb-3a40-449a-825d-45d48603a828",
      "name": "Build HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "dinesh.k.wadhwani@gmail.com",
        "subject": "={{ 'Morning Stock News Report - ' + $json.today }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "165f34df-5f97-48ca-800f-ca355fbf6b5d",
      "name": "Send Morning Report Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1968,
        0
      ],
      "webhookId": "49209644-7d3c-4258-b9ff-8beff00a67d7",
      "credentials": {
        "gmailOAuth2": {
          "id": "fsYGaPv4eFYD8UHN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1088,
        0
      ],
      "id": "57cf0d6c-f25f-4eff-98bc-5f00882ba16d",
      "name": "Wait",
      "webhookId": "ce69e157-c8f5-41df-98bf-039bf572c69e"
    }
  ],
  "pinData": {},
  "connections": {
    "Every Weekday 8AM": {
      "main": [
        [
          {
            "node": "Download Stock List (Google Drive)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Stock List (Google Drive)": {
      "main": [
        [
          {
            "node": "Extract Rows from Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Rows from Excel": {
      "main": [
        [
          {
            "node": "Normalize Stock Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Stock Rows": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Gemini for News": {
      "main": [
        [
          {
            "node": "Extract News Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract News Summary": {
      "main": [
        [
          {
            "node": "Build HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Report": {
      "main": [
        [
          {
            "node": "Send Morning Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Ask Gemini for News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "37e852a3-3815-4db0-b357-f8ca1a0eb85a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b532da54f3fc3f87fb555ef1d6da8d84787eb30a9e315f040dac7d4b9f60377a"
  },
  "nodeGroups": [],
  "id": "4T5EMibdxmIwXiZB",
  "tags": []
}