definitions/send_weather_on_telegram/daily_weather_telegram.json
{
  "name": "Daily Weather Telegram Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Every Day 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1000, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "PUT_YOUR_CITY_HERE"
            },
            {
              "name": "appid",
              "value": "PUT_YOUR_OPENWEATHERMAP_API_KEY_HERE"
            },
            {
              "name": "units",
              "value": "metric"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Get Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-780, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.first().json;\n\nconst city = data.name;\nconst country = data.sys.country;\nconst temp = Math.round(data.main.temp);\nconst feelsLike = Math.round(data.main.feels_like);\nconst tempMin = Math.round(data.main.temp_min);\nconst tempMax = Math.round(data.main.temp_max);\nconst humidity = data.main.humidity;\nconst description = data.weather[0].description;\nconst windSpeed = data.wind.speed;\n\n// Pick an emoji based on weather condition\nconst conditionId = data.weather[0].id;\nlet weatherEmoji = '🌤';\nif (conditionId >= 200 && conditionId < 300) weatherEmoji = '⛈';\nelse if (conditionId >= 300 && conditionId < 400) weatherEmoji = '🌦';\nelse if (conditionId >= 500 && conditionId < 600) weatherEmoji = '🌧';\nelse if (conditionId >= 600 && conditionId < 700) weatherEmoji = '❄️';\nelse if (conditionId >= 700 && conditionId < 800) weatherEmoji = '🌫';\nelse if (conditionId === 800) weatherEmoji = '☀️';\nelse if (conditionId > 800) weatherEmoji = '☁️';\n\nconst today = new Date().toLocaleDateString('en-IN', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nconst message = `${weatherEmoji} *Morning Weather Report*\n📅 ${today}\n📍 ${city}, ${country}\n\n🌡 *Temperature:* ${temp}°C (Feels like ${feelsLike}°C)\n🔼 High: ${tempMax}°C  🔽 Low: ${tempMin}°C\n💧 *Humidity:* ${humidity}%\n💨 *Wind:* ${windSpeed} m/s\n🌤 *Condition:* ${description.charAt(0).toUpperCase() + description.slice(1)}\n\n_Have a great day! 🙌_`;\n\nreturn [{ json: { message } }];"
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Format Weather Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $vars.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: 'PUT_YOUR_TELEGRAM_CHAT_ID_HERE', text: $json.message, parse_mode: 'Markdown' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-340, 0]
    }
  ],
  "connections": {
    "Every Day 8AM": {
      "main": [[{ "node": "Get Weather", "type": "main", "index": 0 }]]
    },
    "Get Weather": {
      "main": [[{ "node": "Format Weather Message", "type": "main", "index": 0 }]]
    },
    "Format Weather Message": {
      "main": [[{ "node": "Send to Telegram", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
